.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.navbar_name, .navbar_link{
    text-decoration: none;
}

.navbar_name{
    color: var(--primary);
    font-size: 20px;
}

.navbar_containerLinks{
    display: flex;
    gap: 10px;
}

.navbar_link{
    color: var(--text-gray);
    font-size: 25px;
    padding: 5px;
}

.navbar_link span{
    background-color: var(--primary);
    color: white;
    height: 25px;
    aspect-ratio: 1;
    font-weight: bold;
    position: relative;
    right: -3px;
    bottom: -5px;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

@media(min-width: 550px){
    .navbar_containerLinks{
        gap: 40px;
    }
    .navbar_link{
        font-size: 30px;
        padding: 8px;
    }
}

